@page "/gratz"
@page "/gratz/{Coordinates}"
@using System.Web;
<h3>BookingConfirmation</h3>

<p>Congratilasions u haf book'd!'</p>

<iframe width="50%"
        height="800px"
        frameborder="0" style="border:0"
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDMzfxEyfKbFzWSlw990X0w0M6vrSBpqCk&center=@Coordinates&zoom=15&maptype=satellite"
        allowfullscreen>
</iframe>


@code {





}
